@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
canvas {
  display: block;
  vertical-align: bottom;
  position: fixed;
  top: 0; }

h1, h2 {
  background: white;
  padding: 0;
  margin: 0; }

.btn-outline-secondary,
.btn-outline-secondary:visited,
.btn-outline-secondary:focus {
  border-color: #2ab27b !important;
  background: #2ab27b !important;
  color: white !important;
  position: absolute !important;
  bottom: 10px;
  right: 10px; }
  .btn-outline-secondary.active, .btn-outline-secondary:hover,
  .btn-outline-secondary:visited.active,
  .btn-outline-secondary:visited:hover,
  .btn-outline-secondary:focus.active,
  .btn-outline-secondary:focus:hover {
    border-color: #2ab27b !important;
    background: white !important;
    color: #2ab27b !important; }

.nav {
  background: white;
  margin: 0 auto !important; }
  .nav .footer ul {
    display: flex;
    justify-content: space-around; }
    .nav .footer ul li {
      list-style: none; }
  .nav .nav-item {
    line-height: 1em;
    font-size: 1.5em;
    border-right: 2px solid #2ab27b; }
    .nav .nav-item a {
      margin: 0 20px;
      color: #1b7450; }
      .nav .nav-item a.active, .nav .nav-item a:hover {
        background: #2ab27b;
        color: #FFF;
        border-radius: 5px; }
    .nav .nav-item:last-child {
      border: none; }

.maclass {
  background: red !important;
  opacity: 1; }

.container {
  margin-bottom: 50px; }

.col {
  margin: 20px 10px;
  background-color: white; }
  .col:last-child {
    margin-right: 0; }
  .col:first-child {
    margin-left: 0; }
  .col h1, .col h2, .col h3, .col h4, .col h5 {
    color: #2ab27b; }
  .col a {
    color: #2ab27b; }
    .col a:hover, .col a:active {
      color: #175f42; }

.home h2 {
  margin-top: 20px; }

.card {
  min-height: 100%;
  padding: 30px; }
  .card .card-body {
    padding: 0; }

img {
  width: auto; }

/* ---- reset ---- */
/* ---- particles.js container ---- */
#particles-js {
  position: static;
  width: 100%;
  height: 100%;
  background-color: blue; }

.footer ul {
  display: flex;
  justify-content: space-around; }
  .footer ul li {
    list-style: none; }
    .footer ul li a {
      margin: 0 20px;
      color: #1b7450; }

.img-float-right {
  float: right; }
